{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Подписки{% endblock %}
{% block header %}Подписки{% endblock %}
{% block content %}
{% load cache %}
{% cache 20 index_page content request.user.username %}
{% load cache %}
  <div class='container'>
    {% include 'posts/includes/switcher.html' %}
    {% cache 20 index_page with page %}
    {% for post in page %}
    {% include 'posts/includes/post_list.html' %}
    {% endfor %}
    {% endcache %}
  </div>
  {% include 'includes/paginator.html' %}
{% endcache %}
{% endblock %}